*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

body{
    overflow: hidden;
}

header{
    width: 100%;
    height: 5vh;
}

.nav_mio{
    background-color: #b57ebc;
    width: 100%;
    height: 15vh;
}

.nav_color{
    background-color: #b57ebc;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #4b1c71;
    fill: blur(100px);
}

.main .cuadrado{
    position: absolute;
    filter: blur(100px);
}

.main .cuadrado:nth-child(1){
    top: -370px;
    width: 500px;
    height: 500px;
    background: #7f4ca5;
}

.main .cuadrado:nth-child(2){
    bottom: -170px;
    left: 110px;
    width: 550px;
    height: 550px;
    background: #b57ebc;
}

.cuadrado{
    position: absolute;
}

.main .cuadrado:nth-child(3){
    bottom: 80px;
    right: 120px;
    width: 450px;
    height: 450px;
    background: #dbb6ee;
}

.loginBox{
    position: relative;

}

.loginContainer{
    position: relative;
    width: 400px;
    min-height: 400px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.loginForm{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 40px;
}

.loginForm h1{
    position: relative;
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 40px;
}

.loginForm h1::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 180px;
    height: 4px;
    background: #fff;
}

.loginForm .inputBox{
    width: 100%;
    margin-top: 20px;
}

.loginForm .inputBox input{
    width: 100%;
    background:rgba(255, 255, 255, 0.2);
    border: none;
    outline: none;
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    font-size: 16px;
    letter-spacing: 1px;
    color: #fff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
}

.loginForm .inputBox input::placeholder{
    color: #fff;
}

.loginForm .inputBox .btn{
    background: #fff;
    color: #666;
    width: 100%;
    font-weight: 600;
    cursor: pointer;
    margin-bottom: 20px;
    transition: 0.3s;
}

.loginForm .inputBox .btn:hover{
    background: #fff0ff;
}

.registro{
    margin-top: 5px;
    color: #fff;
}

.registro a{
    color: #fff;
    font-weight: 600;
}

#rojo{
    color: red;
    font-weight: 700;
}

.mainPaginaPrincipal{
    width: 100%;
    height: 100vh;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #dbb6ee;
}

.sectionPP{
    width: 60%;
    height: 50vh;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff0ff;
} */

#h1sectionPP{
    margin: 10px;
    padding: 10px;
    height: 10vh;
    align-self: center;
    text-align: center;
    color: #b57ebc;
    font-weight: 600;
    font-size: 44px;
} 

#divSectionPP{
    display: flex;
    justify-content: space-between;
    width: 60%;
    height: 7vh;
    margin: 10px;
    padding: 5px;

}

#inputMesPP{
    border: 1px solid #dbb6ee;
    background-color: #dbb6ee;
    color: black;
    border-radius: 10px;
    text-align: center;
}

#inputAnioPP{
    border: 1px solid #dbb6ee;
    background-color: #dbb6ee;
    color: black;
    border-radius: 10px;
    text-align: center;
}

#inputBotonPP{
    border: 1px solid #dbb6ee;
    background-color: #dbb6ee;
    border-radius: 10px;
    cursor: pointer;
}
